span.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  color: white;
  font-weight: bold;
  line-height: 25px;
}

span:hover.button {
  background: #2d5964;
  box-shadow: none;
  border-color: white;
}

span.disabled {
  background-color: darkgray;
  pointer-events: none;
}

.centre {
  margin-left: auto;
  margin-right: auto;
}

header.page-title {
  text-align: center;
  font-size: xx-large;
}
