<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head',{title}) %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <header>Tarot Deck Generator</header>
      <section>
        <img src="https://placekitten.com/200/300" alt="placeholder image" />
        <form action="/deck">
          <label for="seed">seed:</label><br />
          <input type="text" id="seed" name="seed" /><br />
          <label for="draw">draw:</label><br />
          <input type="number" id="draw" name="draw" />
          <input type="submit" value="Submit" />
        </form>
      </section>
    </main>
  </body>
</html>
