<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head',{title}); %>
  </head>
  <body>
    <%- include('../partials/nav'); %>
    <main>
      <header>Welcome</header>
      <section>
        <p>
          Reading tarot cards is a wonderful way of unlocking your intuition and
          using it to guide you through your everyday life.
        </p>
        <p>
          On this site you will find many tools to help you practice and develop
          your tarot skills, as well as a possile way to do an online reading.
          Details on how to do that will be included in the instructions page,
          which you can see on the navigation bar or you can follow this link
          <a href="instructions">here</a>
        </p>
      </section>
    </main>
  </body>
</html>
