<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head',{title}); %>
  </head>
  <body>
    <%- include('../partials/nav'); %>
    <main>
      <header>Tarot</header>
      <section>
        <p>
          Here you will find many different generators to aid you with your practice.
          <ul>
            <li><a href="/deck-generator">deck</a></li>
          </ul>
        </p>
      </section>
    </main>
  </body>
</html>
