<nav role="navigation">
  <ul>
    <li><a href="index">Home</a></li>
    <li><a href="instructions">Instructions</a></li>
    <li>
      <a href="tarot" aria-haspopup="true">Tarot</a>
      <ul class="dropdown" aria-label="submenu">
        <li><a href="deck-generator">Generator</a></li>
      </ul>
    </li>
  </ul>
</nav>
