body {
  background: black;
  padding: 2em;
}

main {
  background: rgb(80, 19, 80);
  background: linear-gradient(
    45deg,
    rgba(80, 19, 80, 1) 0%,
    rgba(222, 40, 26, 1) 100%
  );
  border-radius: 1em;
  padding: 2em;
  margin-top: 5em;
}

header {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5em;
  text-align: center;
}

section {
  background: black;
  padding: 1em;
  border-radius: 1em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

form {
  float: right;
  margin: 1em;
}

label {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.2em;
}

p {
  color: white;
}

p ul {
  list-style: none; /* Remove default bullets */
}

li::marker {
  color: purple;
  content: "➤  ";
}

a {
  text-decoration: none;
}

nav {
  font-family: monospace;
  float: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  color: white;
  background: darkorchid;
  display: block;
  float: left;
  padding: 1em;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

nav li a {
  color: white;
}

nav li:hover,
nav li:focus-within {
  background: purple;
}

nav li:focus-within a {
  outline: none;
}

nav ul li ul {
  background: darkorchid;
  visibility: hidden;
  opacity: 0;
  min-width: 5em;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1em;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  clear: both;
  width: 100%;
}
